@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype'),
         url('../fonts/Helvetica-Bold.ttf') format('truetype'),
         url('../fonts/Helvetica-Bold-Condensed.otf') format('opentype');
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    position: fixed;
    padding: 7px;
    background-color: white;
}
footer {
    border-top: 1px solid black;
    padding: 20px;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.widthmax {
    width: 100vw;
}
body {
    font-family: 'Helvetica', sans-serif;
    overflow: auto;
}
.boxyimg {
    background-image: url("adventure_9-16.jpg");
    background-size: 100% 100%;
}
.spaceout {
    padding-top: 30vw;
    padding-bottom: 30vw;
    margin-left: 15px;
    color: white;
}
.boxspace {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.box {
    display: flex;
    align-items: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #7996F0;
    border-top: 1px solid black;
    color: white;
    padding: 10px;
}
.inside-box {
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow: 5px 5px black;
    background-color: white;
    color: black;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 2.25%;
    max-width: 42vw;
}
img {
    width: 42vw;
}
.git {
    width: 20px;
}
